@font-face {
  font-family: Nunito Sans Regular;
  src: url('../fonts/NunitoSans-Regular.ttf'); }
@font-face {
  font-family: Nunito Sans Light;
  src: url('../fonts/NunitoSans-Light.ttf'); }

.type-1519 {
  background-color: #f8f8f8; }
  .type-1519 .container-custom {
    max-width: 1300px;
    margin: auto; }
  .type-1519 .p-30 {
    padding: 30px; }
  .type-1519 a {
    text-decoration: none;
    color: #222;
    cursor: pointer;
    font-size: 16px; }
    .type-1519 a:hover {
      color: #21bda1;
      transition: 0.35s all ease; }
  .type-1519 .text {
    font-size: 18px;
    color: #aaa; }
    .type-1519 .support h3 {
      font-size: 20px; }
    .type-1519 .support p {
      font-size: 14px;
      color: #aaa; }
  .type-1519 .icon-logo {
    color: #aaa; }
    .type-1519 .icon-logo i {
      border-radius: 2px;
      text-align: center;
      font-size: 16px;
      width: 32px;
      height: 32px;
      line-height: 32px;
      background: #e4e4e4; }
      .type-1519 .icon-logo i:hover {
        color: white;
        background: #21bda1;
        transition: 0.35s all ease; }
  .type-1519 .icon {
    color: rgba(0, 0, 0, 0.18);
    font-size: 24px; }
  .type-1519 .icon-2 {
    color: rgba(0, 0, 0, 0.18);
    font-size: 26px; }
    .type-1519 .gmail h3, .type-1519 .address h3 {
      font-size: 16px; }
    .type-1519 .gmail p, .type-1519 .address p {
      font-size: 14px;
      color: #aaa; }
  .type-1519 .course a {
    font-size: 16px; }
  .type-1519 .course p {
    font-size: 14px;
    color: #aaa; }
