@font-face {
  font-family: Nunito Sans Regular;
  src: url('../fonts/NunitoSans-Regular.ttf'); }
@font-face {
  font-family: Nunito Sans Light;
  src: url('../fonts/NunitoSans-Light.ttf'); }

.type-1557 .container-custom {
  max-width: 1300px;
  margin: auto; }
.type-1557 .p-30 {
  padding: 30px; }
.type-1557 .img {
  border-radius: 100px;
  border-style: none;
  text-align: center; }
  .type-1557 .support h3 {
    font-size: 18px;
    color: #aaa;
    text-align: center; }
    .type-1557 .support h3 .name {
      color: #222 !important; }
.type-1557 .btn {
  background: #21bda1;
  color: #fff; }
.type-1557 .icon {
  color: #21bda1;
  margin-top: 7px; }
