.type-1547 .text-left {
  padding-top: 45px; }
  .type-1547 .wrap h4 {
    font-size: 22px;
    font-weight: 400;
    line-height: 1.3em;
    color: #21bda1; }
  .type-1547 .wrap h3 {
    font-weight: 400; }
  .type-1547 .wrap p {
    vertical-align: inherit;
    color: #666;
    font-size: 18px;
    font-weight: 100;
    margin-bottom: 10px;
    margin: 0 0 20px 0;
    line-height: 1.2em;
    word-break: break-all; }
.type-1547 .icon {
  font-size: 16px;
  font-weight: 400;
  border-style: solid;
  border-width: 0 0 2px 0;
  padding: 6px 0 6px 0;
  color: #222;
  border-color: #21bda1;
  display: inline-block; }
  .type-1547 .icon:hover {
    color: #21bda1; }
@font-face {
  font-family: Nunito Sans;
  src: url(../fonts/NunitoSans-Regular.ttf); }
.type-1547 body {
  font-family: "Nunito Sans";
  color: #222;
  width: 100%;
  margin-bottom: 10px;
  line-height: 1.2em; }
.type-1547 .image-wrap {
  position: relative; }
  .type-1547 .image-wrap .image-main {
    width: calc(100% - 186px); }
  .type-1547 .image-wrap .image-one {
    position: absolute;
    left: 0;
    width: 40%;
    bottom: -10%; }
  .type-1547 .image-wrap .image-two {
    position: absolute;
    right: 0;
    width: 30%;
    bottom: -10%; }
